<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.tsppi.controller.handler.image.AutoImaging</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.tsppi.controller.handler.invoice.InvoiceTracker</listener-class>
    </listener>
    <!--Filter-->
    <filter-mapping>
        <filter-name>ProfileFilter</filter-name>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/editprofile</url-pattern>
        <url-pattern>/changepassword</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoggedInFilter</filter-name>
        <url-pattern>/register</url-pattern>
        <url-pattern>/adrp</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/requestcompany</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>WebAdminFilter</filter-name>
        <url-pattern>/emrp</url-pattern>
        <url-pattern>/addjobposition</url-pattern>
        <url-pattern>/editjobposition</url-pattern>
        <url-pattern>/alljobposition</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClientCartFilter</filter-name>
        <url-pattern>/cart</url-pattern>
        <url-pattern>/invoicerequest</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ClientPrivilegeFilter</filter-name>
        <url-pattern>/allinvoices</url-pattern>
        <url-pattern>/serviceinquiry</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MgtPrivilegeFilter</filter-name>
        <url-pattern>/allpaymentmethod</url-pattern>
        <url-pattern>/addpaymentmethod</url-pattern>
        <url-pattern>/editpaymentmethod</url-pattern>
        <url-pattern>/allcompany</url-pattern>
        <url-pattern>/addcompany</url-pattern>
        <url-pattern>/editcompany</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SalesPrivilegeFilter</filter-name>
        <url-pattern>/salesinvoices</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdVPPrivilegeFilter</filter-name>
        <url-pattern>/allaccounts</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>IOPrivilegeFilter</filter-name>
        <url-pattern>/addproduct</url-pattern>
        <url-pattern>/addservices</url-pattern>
        <url-pattern>/approveproducts</url-pattern>
        <url-pattern>/editproduct</url-pattern>
        <url-pattern>/allservices</url-pattern>
        <url-pattern>/allproductcategory</url-pattern>
        <url-pattern>/addproductcategory</url-pattern>
        <url-pattern>/editproductcategory</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>ProfileFilter</filter-name>
        <filter-class>com.tsppi.controller.session.filter.page.ProfileFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoggedInFilter</filter-name>
        <filter-class>com.tsppi.controller.session.filter.page.LoggedInFilter</filter-class>
    </filter>
    <filter>
        <filter-name>WebAdminFilter</filter-name>
        <filter-class>com.tsppi.controller.session.filter.page.AdminPrivilegeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ClientCartFilter</filter-name>
        <filter-class>com.tsppi.controller.session.filter.page.ClientCartFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ClientPrivilegeFilter</filter-name>
        <filter-class>com.tsppi.controller.session.filter.page.ClientPrivilegeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>MgtPrivilegeFilter</filter-name>
        <filter-class>com.tsppi.controller.session.filter.page.MgtPrivilegeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SalesPrivilegeFilter</filter-name>
        <filter-class>com.tsppi.controller.session.filter.page.SalesPrivilegeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdVPPrivilegeFilter</filter-name>
        <filter-class>com.tsppi.controller.session.filter.page.AdVPPrivilegeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>IOPrivilegeFilter</filter-name>
        <filter-class>com.tsppi.controller.session.filter.page.IOPrivilegeFilter</filter-class>
    </filter>
    <!--Filter-->
    <!--Servlet-->
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.tsppi.controller.handler.image.AutoImaging</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.tsppi.controller.handler.invoice.InvoiceTracker</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>com.tsppi.controller.general.page.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutPage</servlet-name>
        <servlet-class>com.tsppi.controller.general.page.AboutPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsPage</servlet-name>
        <servlet-class>com.tsppi.controller.general.page.ProductsPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicesPage</servlet-name>
        <servlet-class>com.tsppi.controller.general.page.ServicesPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchResultPage</servlet-name>
        <servlet-class>com.tsppi.controller.general.page.SearchResultPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <servlet-class>com.tsppi.controller.account.login.page.LoginPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientRegisterPage</servlet-name>
        <servlet-class>com.tsppi.controller.account.register.page.ClientRegisterPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegisterPage</servlet-name>
        <servlet-class>com.tsppi.controller.account.register.page.AdminRegisterPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeRegisterPage</servlet-name>
        <servlet-class>com.tsppi.controller.admin.form.page.EmployeeRegisterPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordPage</servlet-name>
        <servlet-class>com.tsppi.controller.account.login.page.ForgotPasswordPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.tsppi.controller.account.login.function.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfilePage</servlet-name>
        <servlet-class>com.tsppi.controller.account.profile.page.ProfilePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.tsppi.controller.account.login.function.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductApprovalPage</servlet-name>
        <servlet-class>com.tsppi.controller.io.page.ProductApprovalPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllServicesIOPage</servlet-name>
        <servlet-class>com.tsppi.controller.io.page.AllServicesIOPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductPage</servlet-name>
        <servlet-class>com.tsppi.controller.io.form.page.AddProductPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServicePage</servlet-name>
        <servlet-class>com.tsppi.controller.io.form.page.AddServicePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientInvoicesPage</servlet-name>
        <servlet-class>com.tsppi.controller.client.invoice.page.ClientInvoicesPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesInvoicesPage</servlet-name>
        <servlet-class>com.tsppi.controller.sales.invoice.SalesInvoicesPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllAccountPage</servlet-name>
        <servlet-class>com.tsppi.controller.mngt.page.AllAccountPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfilePage</servlet-name>
        <servlet-class>com.tsppi.controller.account.profile.page.EditProfilePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductPage</servlet-name>
        <servlet-class>com.tsppi.controller.io.form.page.EditProductPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServicePage</servlet-name>
        <servlet-class>com.tsppi.controller.io.form.page.EditServicePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceInquiryPage</servlet-name>
        <servlet-class>com.tsppi.controller.client.form.page.ServiceInquiryPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.tsppi.controller.account.register.function.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordPage2</servlet-name>
        <servlet-class>com.tsppi.controller.account.login.page.ForgotPasswordPage2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>com.tsppi.controller.account.login.function.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword2Controller</servlet-name>
        <servlet-class>com.tsppi.controller.account.login.function.ForgotPassword2Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>com.tsppi.controller.account.profile.function.EditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>com.tsppi.controller.client.invoice.function.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartPage</servlet-name>
        <servlet-class>com.tsppi.controller.client.invoice.page.CartPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceRequestPage</servlet-name>
        <servlet-class>com.tsppi.controller.client.invoice.page.InvoiceRequestPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateInvoiceRequestController</servlet-name>
        <servlet-class>com.tsppi.controller.client.invoice.function.GenerateInvoiceRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceInquiryController</servlet-name>
        <servlet-class>com.tsppi.controller.client.form.function.ServiceInquiryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>com.tsppi.controller.io.form.function.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServiceController</servlet-name>
        <servlet-class>com.tsppi.controller.io.form.function.AddServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductController</servlet-name>
        <servlet-class>com.tsppi.controller.io.form.function.EditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServiceController</servlet-name>
        <servlet-class>com.tsppi.controller.io.form.function.EditServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductApprovalController</servlet-name>
        <servlet-class>com.tsppi.controller.io.page.function.ProductApprovalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveInvoiceItemsController</servlet-name>
        <servlet-class>com.tsppi.controller.client.invoice.function.RetrieveInvoiceItemsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsernameCheckerController</servlet-name>
        <servlet-class>com.tsppi.controller.account.register.function.RegisterUsernameCheckerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailCheckerController</servlet-name>
        <servlet-class>com.tsppi.controller.account.register.function.RegisterEmailCheckerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileUsenameCheckerController</servlet-name>
        <servlet-class>com.tsppi.controller.account.profile.function.ProfileUsenameCheckerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileEmailCheckerController</servlet-name>
        <servlet-class>com.tsppi.controller.account.profile.function.ProfileEmailCheckerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartStockCheckerController</servlet-name>
        <servlet-class>com.tsppi.controller.client.invoice.function.CartStockCheckerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageRetrieve</servlet-name>
        <servlet-class>com.tsppi.controller.handler.image.ImageRetrieve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsModal</servlet-name>
        <servlet-class>com.tsppi.controller.general.page.ProductsModal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicesModal</servlet-name>
        <servlet-class>com.tsppi.controller.general.page.ServicesModal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelInvoiceController</servlet-name>
        <servlet-class>com.tsppi.controller.client.invoice.function.CancelInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveInvoiceController</servlet-name>
        <servlet-class>com.tsppi.controller.sales.invoice.function.ApproveInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResubmitInvoiceController</servlet-name>
        <servlet-class>com.tsppi.controller.client.invoice.function.ResubmitInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliverInvoiceController</servlet-name>
        <servlet-class>com.tsppi.controller.client.invoice.function.DeliverInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductCategory</servlet-name>
        <servlet-class>com.tsppi.controller.io.form.page.AddProductCategoryPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductCategoryController</servlet-name>
        <servlet-class>com.tsppi.controller.io.form.function.AddProductCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductCategoryPage</servlet-name>
        <servlet-class>com.tsppi.controller.io.form.page.EditProductCategoryPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllProductCategoryPage</servlet-name>
        <servlet-class>com.tsppi.controller.io.page.AllProductCategoryPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductCategoryController</servlet-name>
        <servlet-class>com.tsppi.controller.io.form.function.EditProductCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCategoryNameController</servlet-name>
        <servlet-class>com.tsppi.controller.io.form.function.CheckCategoryNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCategoryName2Controller</servlet-name>
        <servlet-class>com.tsppi.controller.io.form.function.CheckCategoryName2Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductCategoryVisibilityOptionController</servlet-name>
        <servlet-class>com.tsppi.controller.io.page.function.ProductCategoryVisibilityOptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPaymentMethodPage</servlet-name>
        <servlet-class>com.tsppi.controller.mngt.form.page.AddPaymentMethodPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPaymentMethodController</servlet-name>
        <servlet-class>com.tsppi.controller.mngt.form.function.AddPaymentMethodController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllPaymentMethodPage</servlet-name>
        <servlet-class>com.tsppi.controller.mngt.page.AllPaymentMethodPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPaymentMethodPage</servlet-name>
        <servlet-class>com.tsppi.controller.mngt.form.page.EditPaymentMethodPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPaymentMethodController</servlet-name>
        <servlet-class>com.tsppi.controller.mngt.form.function.EditPaymentMethodController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentMethodVisibilityoptionController</servlet-name>
        <servlet-class>com.tsppi.controller.mngt.page.PaymentMethodVisibilityoptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckMethodNameController</servlet-name>
        <servlet-class>com.tsppi.controller.mngt.form.function.CheckMethodNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckMethodName2Controller</servlet-name>
        <servlet-class>com.tsppi.controller.mngt.form.function.CheckMethodName2Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddJobPositionPage</servlet-name>
        <servlet-class>com.tsppi.controller.admin.form.page.AddJobPositionPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddJobPositionController</servlet-name>
        <servlet-class>com.tsppi.controller.admin.form.function.AddJobPositionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllJobPositionPage</servlet-name>
        <servlet-class>com.tsppi.controller.admin.page.AllJobPositionPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagementPrivilegeController</servlet-name>
        <servlet-class>com.tsppi.controller.admin.page.function.ManagementPrivilegeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryPrivilegeController</servlet-name>
        <servlet-class>com.tsppi.controller.admin.page.function.InventoryPrivilegeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobVisisibilityOptionController</servlet-name>
        <servlet-class>com.tsppi.controller.admin.page.function.JobVisisibilityOptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPositionNameController</servlet-name>
        <servlet-class>com.tsppi.controller.admin.form.function.CheckPositionNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditJobPositionPage</servlet-name>
        <servlet-class>com.tsppi.controller.admin.form.page.EditJobPositionPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditJobPositionController</servlet-name>
        <servlet-class>com.tsppi.controller.admin.form.function.EditJobPositionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPositionName2Controller</servlet-name>
        <servlet-class>com.tsppi.controller.admin.form.function.CheckPositionName2Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCompanyPage</servlet-name>
        <servlet-class>com.tsppi.controller.mngt.form.page.AddCompanyPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCompanyController</servlet-name>
        <servlet-class>com.tsppi.controller.mngt.form.function.AddCompanyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllCompanyPage</servlet-name>
        <servlet-class>com.tsppi.controller.mngt.page.AllCompanyPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCompanyPage</servlet-name>
        <servlet-class>com.tsppi.controller.mngt.form.page.EditCompanyPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCompanyController</servlet-name>
        <servlet-class>com.tsppi.controller.mngt.form.function.EditCompanyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCompanyNameController</servlet-name>
        <servlet-class>com.tsppi.controller.mngt.form.function.CheckCompanyNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCompanyName2Conrtroller</servlet-name>
        <servlet-class>com.tsppi.controller.mngt.form.function.CheckCompanyName2Conrtroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesPrivilegeController</servlet-name>
        <servlet-class>com.tsppi.controller.admin.page.function.SalesPrivilegeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCheckCompanyController</servlet-name>
        <servlet-class>com.tsppi.controller.account.register.function.RegisterCompanyCheckerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountActivationController</servlet-name>
        <servlet-class>com.tsppi.controller.mngt.page.function.AccountActivationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestCompanyProfilePage</servlet-name>
        <servlet-class>com.tsppi.controller.client.form.page.RequestCompanyProfilePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestCompanyProfileController</servlet-name>
        <servlet-class>com.tsppi.controller.client.form.function.RequestCompanyProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatchErrorPage</servlet-name>
        <servlet-class>om.tsppi.controller.error.page.CatchErrorPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordPage</servlet-name>
        <servlet-class>com.tsppi.controller.account.profile.page.ChangePasswordPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>com.tsppi.controller.account.profile.function.ChangePasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutPage</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsPage</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesPage</servlet-name>
        <url-pattern>/services</url-pattern>
    </servlet-mapping>
    <!--Servlet-->
    <servlet-mapping>
        <servlet-name>SearchResultPage</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientRegisterPage</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegisterPage</servlet-name>
        <url-pattern>/adrp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeRegisterPage</servlet-name>
        <url-pattern>/emrp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordPage</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/logincontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfilePage</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logoutcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductApprovalPage</servlet-name>
        <url-pattern>/approveproducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllServicesIOPage</servlet-name>
        <url-pattern>/allservices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductPage</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServicePage</servlet-name>
        <url-pattern>/addservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientInvoicesPage</servlet-name>
        <url-pattern>/allinvoices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesInvoicesPage</servlet-name>
        <url-pattern>/salesinvoices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllAccountPage</servlet-name>
        <url-pattern>/allaccounts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfilePage</servlet-name>
        <url-pattern>/editprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductPage</servlet-name>
        <url-pattern>/editproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServicePage</servlet-name>
        <url-pattern>/editservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceInquiryPage</servlet-name>
        <url-pattern>/serviceinquiry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/registercontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordPage2</servlet-name>
        <url-pattern>/forgotpassword2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgotpasswordcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword2Controller</servlet-name>
        <url-pattern>/forgotpassword2controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/editprofilecontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cartcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartPage</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceRequestPage</servlet-name>
        <url-pattern>/invoicerequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateInvoiceRequestController</servlet-name>
        <url-pattern>/generateinvoicerequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceInquiryController</servlet-name>
        <url-pattern>/serviceinquirycontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/addproductcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServiceController</servlet-name>
        <url-pattern>/addservicecontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/editproductcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServiceController</servlet-name>
        <url-pattern>/editservicecontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductApprovalController</servlet-name>
        <url-pattern>/approveproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveInvoiceItemsController</servlet-name>
        <url-pattern>/retrieveitems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsernameCheckerController</servlet-name>
        <url-pattern>/checkusername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailCheckerController</servlet-name>
        <url-pattern>/checkemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileUsenameCheckerController</servlet-name>
        <url-pattern>/checkusername2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileEmailCheckerController</servlet-name>
        <url-pattern>/checkemail2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartStockCheckerController</servlet-name>
        <url-pattern>/checkstock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageRetrieve</servlet-name>
        <url-pattern>/img</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsModal</servlet-name>
        <url-pattern>/retrieveproducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesModal</servlet-name>
        <url-pattern>/retrieveservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelInvoiceController</servlet-name>
        <url-pattern>/cancelinvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveInvoiceController</servlet-name>
        <url-pattern>/approveinvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResubmitInvoiceController</servlet-name>
        <url-pattern>/resubmitinvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliverInvoiceController</servlet-name>
        <url-pattern>/deliverinvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductCategory</servlet-name>
        <url-pattern>/addproductcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductCategoryController</servlet-name>
        <url-pattern>/addproductcategorycontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductCategoryPage</servlet-name>
        <url-pattern>/editproductcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllProductCategoryPage</servlet-name>
        <url-pattern>/allproductcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductCategoryController</servlet-name>
        <url-pattern>/editproductcategorycontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCategoryNameController</servlet-name>
        <url-pattern>/checkcategoryname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCategoryName2Controller</servlet-name>
        <url-pattern>/checkcategoryname2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductCategoryVisibilityOptionController</servlet-name>
        <url-pattern>/categoryvisibilityoption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPaymentMethodPage</servlet-name>
        <url-pattern>/addpaymentmethod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPaymentMethodController</servlet-name>
        <url-pattern>/addpaymentmethodcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllPaymentMethodPage</servlet-name>
        <url-pattern>/allpaymentmethod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPaymentMethodPage</servlet-name>
        <url-pattern>/editpaymentmethod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPaymentMethodController</servlet-name>
        <url-pattern>/editpaymentmethodcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentMethodVisibilityoptionController</servlet-name>
        <url-pattern>/paymentmethodvisibilityoption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckMethodNameController</servlet-name>
        <url-pattern>/checkmethodname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckMethodName2Controller</servlet-name>
        <url-pattern>/checkmethodname2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddJobPositionPage</servlet-name>
        <url-pattern>/addjobposition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddJobPositionController</servlet-name>
        <url-pattern>/addjobpositioncontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllJobPositionPage</servlet-name>
        <url-pattern>/alljobposition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagementPrivilegeController</servlet-name>
        <url-pattern>/managementprivilegecontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryPrivilegeController</servlet-name>
        <url-pattern>/inventoryprivilegecontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobVisisibilityOptionController</servlet-name>
        <url-pattern>/jobvisibilityoption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPositionNameController</servlet-name>
        <url-pattern>/checkpositionname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditJobPositionPage</servlet-name>
        <url-pattern>/editjobposition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditJobPositionController</servlet-name>
        <url-pattern>/editjobpositioncontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPositionName2Controller</servlet-name>
        <url-pattern>/checkpositionname2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCompanyPage</servlet-name>
        <url-pattern>/addcompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCompanyController</servlet-name>
        <url-pattern>/addcompanycontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllCompanyPage</servlet-name>
        <url-pattern>/allcompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCompanyPage</servlet-name>
        <url-pattern>/editcompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCompanyController</servlet-name>
        <url-pattern>/editcompanycontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCompanyNameController</servlet-name>
        <url-pattern>/checkcompanyname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCompanyName2Conrtroller</servlet-name>
        <url-pattern>/checkcompanyname2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesPrivilegeController</servlet-name>
        <url-pattern>/salesprivilegecontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCheckCompanyController</servlet-name>
        <url-pattern>/checkcompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountActivationController</servlet-name>
        <url-pattern>/controlstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestCompanyProfilePage</servlet-name>
        <url-pattern>/requestcompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestCompanyProfileController</servlet-name>
        <url-pattern>/requestcompanycontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatchErrorPage</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordPage</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changepasswordcontroller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
    <!--DB Connection-->
    <context-param>
        <param-name>user</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>tsppi_password</param-value>
    </context-param>
    <context-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/com_tsppi</param-value>
    </context-param>
    <!--DB Connection-->
    <!--Image path-->
    <context-param>
        <param-name>imgPath</param-name>
        <param-value>C:/Users/SAM/Documents/TSPPIpics</param-value>
    </context-param>
    <!--Image path-->
    <!--error-->
    <error-page>
        <location>/general-error.jsp</location>
    </error-page>
</web-app>
