/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
<<<<<<< OURS
    Created on : 11 2, 16, 8:17:06 PM
    Author     : Sydney Cruz
    ref: https://www.script-tutorials.com/bootstrap-one-page-template-with-parallax-effect/
*/
/* general styles */
html, body{
    height: 100%;
    width: 100%;
}
/*padded section*/
.pad-section{
    padding: 50px 0;
}
/* vertical-centered text */
.text-vcenter{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
#home span.border{
    color: #fff;
    padding: 18px;
    letter-spacing: 5px;
}
#information span.border, #information-2 span.border, #information-3 span.border{
    color: #fff;
    padding: 18px;
    letter-spacing: 5px;
}

#home h1, #information h1, #information-2 h1, #information-3 h1{
    font-size: 4em;
    font-weight: 800;
    margin: 0;
    padding: 0;
}


/* additional sections */
#home{
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/home.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#comp-offer{
    background-color: #306d9f;
    color: #fff;
}
#comp-offer a, #information a, #information-2 a, #information-3 a{
    color: #fff;
    text-decoration: none;
}
#comp-offer .glyphicon{
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    font-size: 80px;
    height: 160px;
    line-height: 160px;
    width: 160px;
}

#information{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/information.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#information-2{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/information-2.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#information-3{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/information-3.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}


.section-heading {margin-bottom: 30px;}
.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}
#about-image{
    padding-top: 30px;
}

/*media-queries*/
@media only screen and (max-width: 768px){
    /*For mobile phones*/
    #home h1, #information h1, #information-2 h1, #information-3 h1{
        font-size: 2em;
    }
}