/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
<<<<<<< OURS
    Created on : 11 2, 16, 8:17:06 PM
    Author     : Sydney Cruz
    ref: https://www.script-tutorials.com/bootstrap-one-page-template-with-parallax-effect/
*/
/* general styles */
html, body{
    height: 100%;
    width: 100%;
}
/*padded section*/
.pad-section{
    padding: 50px 0;
}
/* vertical-centered text */
.text-vcenter{
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}
#home span.border{
    background-color: #306d9f;
    color: #fff;
    padding: 18px;
    letter-spacing: 10px;
    opacity: 0.8;
}
#information span.border, #information-2 span.border{
    background-color: #111;
    color: #fff;
    padding: 18px;
    letter-spacing: 10px;
    opacity: 0.9;
}

#home h1, #information h1{
    font-size: 5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}


/* additional sections */
#home{
    background: url(../img/home.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#comp-offer{
    background-color: #306d9f;
    color: #fff;
}
#comp-offer a, #information a, #information-2 a{
    color: #fff;
    text-decoration: none;
}
#comp-offer .glyphicon{
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    font-size: 80px;
    height: 160px;
    line-height: 160px;
    width: 160px;
}

#information{
    background: url(../img/information.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#information-2{
    background: url(../img/information-2.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
