/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 14, 2016, 9:08:36 PM
    Author     : cruzsyd
*/
@CHARSET "ISO-8859-1";

@font-face{
    font-family: rsb;
    src: url(fonts/raleway-semibold.ttf) format("truetype");
}

body{
    padding-top: 104px;
    background-color: #282828 !important;
}

/*fonts*/

nav a{
    font-family: rsb;;
    font-weight: bold;
}
.nav-top a{color: #fff !important;}

/*navbar-brand img*/
.nav-top .navbar-brand img{height: 75px;}
.nav-bot .navbar-brand img{
    height: 20px; 
    width: 63px;
}

/*navbar-toggle style*/
.navbar-toggle, .navbar-toggle span{
    color: black;
    border: 1px solid black;
}
/*position and style of two nav*/
.nav-top{background-color: #282828 !important;}
.nav-bot{
    top: 51px !important;
    background-color: rgb(248, 248, 248) !important;
    z-index: 9 !important;
    box-shadow: 1px 0px 10px #000000;
}

/*removes the scroll bar when navbar collapse and expands*/
.navbar-collapse{max-height: 100% !important;}
