/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 14, 2016, 9:08:36 PM
    Author     : cruzsyd
*/
@CHARSET "ISO-8859-1";

@font-face{
    font-family: rsb;
    src: url(fonts/raleway-semibold.ttf) format("truetype");
}

body{
    background-color: #306d9f !important;
    padding-top: 104px;
}

/*fonts*/

nav a{
    font-family: rsb;;
    font-weight: bold;
}
.nav-top a{color: #fff !important;}

/*navbar-brand img*/
.nav-top .navbar-brand img{height: 75px;}
.nav-bot .navbar-brand img{
    height: 20px; 
    width: 63px;
}

/*navbar-toggle style*/
.navbar-toggle, .navbar-toggle span{
    color: black;
    border: 1px solid black;
}
/*position and style of two nav*/
.nav-top{background-color: #306d9f !important;}
.nav-bot{
    top: 51px !important;
    background-color: rgb(248, 248, 248) !important;
    z-index: 9 !important;
    box-shadow: 1px 0px 10px #000000;
}

/*removes the scroll bar when navbar collapse and expands*/
.navbar-collapse{max-height: 100% !important;}


/*
*
*cart
*ref = http://bootsnipp.com/snippets/featured/bootstrap-navbar-cart-dropdown
*
*/
ul.dropdown-cart{
    min-width:250px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right .btn{
    margin-top:10px;
}

/*
back to top link
ref = http://bootsnipp.com/snippets/featured/link-to-top-page
*/
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #48B8D0;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 42px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {background: linear-gradient(rgba(245,229,252,0.5), rgba(245,229,252,0.5));}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}



