/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 7, 2016, 10:55:48 PM
    Author     : cruzsyd
*/
/*ref= http://bootsnipp.com/snippets/featured/flat-user-profile-ui */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
    body{
        padding-top: 150px !important;
        font-family: 'Lato', 'sans-serif';
    }
    figure{
        padding-bottom: 20px;
    }
    .profile{
        min-height: 355px;
        display: inline-block;
    }
    .divider{
        padding-top: 15px;
        border-top:1px solid rgba(0,0,0,0.1);
    }
    .emphasis{
        border-top: 4px solid transparent;
    }